<div class="usershow clearfix">
  <h3><%= @user.name %></h3>

  <div id="relationships_buttons_<%= @user.id %>">
    <%= render partial: 'relationships/relationship', locals: {user: @user} %>
  </div>
</div>
    
<h4>お知らせ一覧</h4>
<table class="table">
  <tr>
    <th>タイトル</th>
    <th>作成日時</th>
    <th>更新日時</th>
  </tr>

  <% @boards.each do |board| %>
    <tr>
      <td><%= link_to board.title, board %></td>
      <td><%= board.created_at.to_s(:datetime_jp) %></td>
      <td><%= board.updated_at.to_s(:datetime_jp) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @boards %>