<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>

  <% if @user.followed_by?(@current_user) || @user.id == @current_user.id %>

    <%= render partial: 'show' %>

  <% elsif @user.private == true %>

    <div class="usershow clearfix">
      <h3><%= @user.name %></h3>
      <p>このユーザーは非公開です。フォローリクエストを送りましょう。</p>
      
      <div id="requests_buttons_<%= @user.id %>" class="float-right">
        <%= render partial: 'requests/request', locals: { user: @user} %>
      </div>
    </div>
  
  <% else %>
    
    <%= render partial: 'show' %>

  <% end %>
</div>
